.titleContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
    .titleContainer h2 {
        flex-grow: 1;
    }

    .titleContainer .blue {
        color: #0000cc;
    }